<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Cambia tu contraseña</h3>

      <p class="text-center">Por favor, introduce tu email para modificar tu contraseña</p>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #passwordResetEmail required>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="formGroup">
        <input type="submit" class="btn btnPrimary" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
      </div>
    </div>

    <div class="redirectToLogin">
      <span>Volver<span class="redirect" routerLink="/login">Login</span></span>
    </div>

  </div>
</div>
