<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Regístrate</h3>

      <div class="formGroup">
        <input type="email" class="formControl" placeholder="Email Address" #userEmail required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Password" #userPwd required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Sign Up" (click)="authService.register(userEmail.value, userPwd.value)">
      </div>

      <div class="formGroup">
        <span class="or"><span class="orInner">O bien...</span></span>
      </div>

      <!-- Continue with Google -->
      <div class="formGroup">
        <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
          <i class="fab fa-google-plus-g"></i>
          Acceder con Google
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span>¿Ya tienes una cuenta? <span class="redirect" routerLink="/login">Login</span></span>
    </div>
  </div>

</div>
