<h1>
  Home Page
</h1>

<div *ngFor="let comunidad of listadoComunidades">
  <h3>{{ comunidad.nombre }}
  </h3>
  <!-- <button (click)="borrarComunidad(comunidad.id)">
    Borrar
  </button> -->
</div>


<button (click)="crearComunidad()">
  Crear Comunidad
</button>
