<div class="displayTable">
  <div class="displayTableCell">

    <div class="authBlock">
      <h3>Gracias por registrarte</h3>

      <div class="formGroup" *ngIf="authService.userData as user">
        <p class="text-center">Te hemos enviado un email a:<strong>{{user.email}}</strong>.</p>
        <p class="text-center">Comprueba tu email y accede a través del link para verificar tu cuenta.</p>
      </div>

      <!-- Calling SendVerificationMail() method using authService Api -->
      <div class="formGroup">
        <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
          <i class="fas fa-redo-alt"></i>
          Reenviar el email de verificación
        </button>
      </div>

    </div>

    <div class="redirectToLogin">
      <span>Volver<span class="redirect" routerLink="/login">Login</span></span>
    </div>

  </div>
</div>
